body{
    display: flex;
    justify-content: space-around;
    background-color: #f6dcd7;
    color: black;
}

.card{
    background-color: #e9b8ac;
    border-radius: 20px;
    color:dimgray;
}

.bienvenido{
    background-color: #e9b8ac;
    border-radius: 20px;
    color:dimgray;
    align-self: center;
}

button{
    border-radius: 20px;
    color:dimgray;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    font-size: 19px;
    font-weight: bold;
}